# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular data science languages
+ List popular data science libraries
+ Run some arithmetic code cells
+ Upload notebook to GitHub

Some of the popular languages that data scientists use are-
1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. MatPlotLib
4. Seaborn

| Data Science Tools |
|--------------------|
| Apache Spark |
| GitHub |
| MySQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
print(minutes/60)

3.3333333333333335

## Author
Neelaksha Malik